h1 {
    color: blue;
    font-family: Impact;
}

p {
    color: gold;
    font-family: cursive;
    text-align: center;
}

body {
    color: turquoise;
    font-family: chalkduster;
    background-color: teal;
}

ol {
    color: seagreen;
    font-family: courier;
    background-color: orange;
    text-align: right;
}